<!DOCTYPE html>
<html lang="en">
<head>
	<title>MailGuard</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

	<div class="limiter" >
		<div class="container-login100"  style="background-image: url(/static/images/bg_oc_things_grey.png);">
			<div class="wrap-login100" >
				<form class="login100-form validate-form" action='{% url 'mailer' %}' method="POST">
                    {% csrf_token %}
					<span class="login100-form-title p-b-43">
						<i class="fa fa-envelope"></i>
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

                    <div>
                        <span style="color: gray">Mail Server</span>
						<select name="smtp_server" style="color: gray;">
                            <option>smtp.gmail.com</option>
                            <option>smtp.live.com</option>
                            <option>mail.yahoo.com</option>
                        </select>
                    </div>
                    <div class="container-login100-form-btn" style="margin-top: 25px; text-align: center">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
                    <div style="margin-top: 70px">

                             <span style="margin: 40px">
                                <a href="add_account.html" style="padding: 40px;font-size: 40px"><i class="fa fa-plus"></i></a>
                                <a href="#" style="padding: 40px;font-size: 40px"><i class="fa fa-gear"></i></a>
                                <a href="#" style="padding: 40px;font-size: 40px"><i class="fa fa-power-off"></i></a>
                             </span>
                        </div>
				</form>
				<div class="login100-more" style="background-image: url(/static/images/bg_oc_things_grey.png);">
				</div>
			</div>
		</div>
	</div>





<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>

</body>
</html>